{{- if and (eq .Values.idm.enabled true) (eq .Values.idm.gematikIdp.enabled true) }}
{{/* Allows the Mesh incoming requests to access gematik IDP in the IDM Namespace */}}
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: gematik-idp-allow-access-from-ingress
  labels:
    component: idm
spec:
  selector:
    matchLabels:
      app: gematik-idp
  action: ALLOW
  rules:
  - from:
    - source:
        principals: [
          "cluster.local/ns/istio-system/sa/istio-ingressgateway"
        ]
    to:
    - operation:
        methods: ["GET", "POST", "PUT"]
        paths: [
          "/*"
        ]
{{- end }}
