{{- if eq .Values.demis.enabled true }}
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: fss-reader-allow-access-from-ingress
  labels:
    component: demis
spec:
  selector:
    matchLabels:
      app: fhir-storage-reader
  action: ALLOW
  rules:
  - from:
    - source:
        principals: [
          "cluster.local/ns/istio-system/sa/istio-ingressgateway"
        ]
    to:
    - operation:
        methods: ["GET"]
        {{- if eq .Values.featureFlags.newApiEndpoints true }}
        paths: [ "/Bundle*" ]
        {{- else }}
        paths: ["/notification-clearing-api/fhir/Bundle*"]
        {{- end }}
    when:
      # Remove role "proof-of-pathogen-not-by-name-notification-fetcher" after the Deployment of Profile Snapshot 5.1.x
      - key: request.auth.claims[realm_access][roles]
        values: [
          "ars-data-fetcher",
          "bed-occupancy-fetcher",
          "igs-notification-data-fetcher",
          "proof-of-pathogen-notification-excerpt-fetcher",
          "proof-of-disease-notification-excerpt-fetcher",
          "pathogen-notification-nonnominal-fetcher",
          "pathogen-notification-anonymous-fetcher",
          "pathogen-notification-negative-fetcher",
          "disease-notification-nonnominal-fetcher",
          "disease-notification-anonymous-fetcher"
        ]
  - from:
      - source:
          principals: [
            "cluster.local/ns/istio-system/sa/istio-ingressgateway"
          ]
    to:
      - operation:
          methods: ["GET"]
          {{- if eq .Values.featureFlags.newApiEndpoints true }}
          paths: [ "/Binary" ]
          {{- else }}
          paths: [ "/notification-clearing-api/fhir/Binary" ]
          {{- end }}
    when:
      - key: request.auth.claims[realm_access][roles]
        values: [
          "disease-notification-fetcher",
          "disease-notification-nonnominal-fetcher",
          "pathogen-notification-fetcher",
          "pathogen-notification-nonnominal-fetcher",
          "pathogen-notification-negative-fetcher"
        ]
{{- end }}
