{{- if eq .Values.demis.enabled true }}
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: portal-shell-allow-access-from-ingress
  labels:
    component: demis
spec:
  selector:
    matchLabels:
      app: portal-shell
  action: ALLOW
  rules:
    - from:
      - source:
          principals: ["cluster.local/ns/istio-system/sa/istio-ingressgateway"]
      to:
      - operation:
          methods: ["GET", "POST"] 
          paths: [] 

    {{/* Allow all operations for the given IPs */}}
    {{- (include "policies-authorization-chart.allow_all_operations_for_ips" .) | indent 4 }}
{{- end }}