{{- if eq .Values.demis.enabled true }}
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: portal-pathogen-allow-access-from-ingress
  labels:
    component: demis
spec:
  selector:
    matchLabels:
      app: portal-pathogen
  action: ALLOW
  rules:
    - from:
      - source:
          principals: ["cluster.local/ns/istio-system/sa/istio-ingressgateway"]
      to:
      - operation:
          methods: ["GET", "POST"] 
          paths: [] 
{{- end }}